/*Start Variables Colors Pages*/
/*End Variables Colors Pages*/
/*Start Variables Helprs*/
/*Start Variables Helprs*/
body {
  position: relative;
}
body .over-lay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10000;
  position: absolute;
  background-color: #3d3d3d61;
}

.bg-btn {
  background: linear-gradient(left, #6c3694 0%, #40bdcf 100%);
  background: -o-linear-gradient(left, #6c3694 0%, #40bdcf 100%);
  background: -ms-linear-gradient(left, #6c3694 0%, #40bdcf 100%);
  background: -moz-linear-gradient(left, #6c3694 0%, #40bdcf 100%);
  background: -webkit-linear-gradient(left, #6c3694 0%, #40bdcf 100%);
}

header {
  position: relative;
  background: url("../../../dist/image/background_1.jpg");
  background-size: cover;
}
header .pre-header {
  padding: 100px 0;
}
header .pre-header .text h1, header .pre-header .text h3, header .pre-header .text p {
  margin-bottom: 15px;
}
header .pre-header .text h1, header .pre-header .text h3 {
  text-transform: uppercase;
}
header .pre-header .text h3 {
  font-weight: 400;
}
header .pre-header .text h1 {
  font-weight: 700;
}
header .pre-header .text p {
  color: #555555;
  text-transform: capitalize;
}
header .pre-header .text button {
  border: none;
  color: #fff;
  margin-top: 15px;
  padding: 10px 35px;
  text-transform: uppercase;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
header .pre-header .content_img {
  overflow: hidden;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
header .pre-header .content_img img {
  height: auto;
  max-width: 100%;
}

.our {
  padding: 100px 0;
}
.our h1 {
  margin-bottom: 0;
  text-align: center;
  padding: 30px 0;
  text-transform: uppercase;
}
.our .icons ul {
  margin-bottom: 0;
  padding: 30px 0 !important;
}
.our .icons ul li {
  width: 60px;
  height: 60px;
  padding: 12px;
  cursor: pointer;
  margin: 10px 35px;
  background-color: #fff;
  color: #19ccbd;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-box-shadow: 0px 0px 6px -1px #2ba3ab;
  -ms-box-shadow: 0px 0px 6px -1px #2ba3ab;
  -moz-box-shadow: 0px 0px 6px -1px #2ba3ab;
  -webkit-box-shadow: 0px 0px 6px -1px #2ba3ab;
  box-shadow: 0px 0px 6px -1px #2ba3ab;
}
.our .icons ul li.active {
  background-color: #19ccbd;
}
.our .icons ul li img {
  max-width: 100%;
  height: auto;
}
.our .views {
  width: 100%;
  display: none;
  text-align: center;
}
.our .views.active {
  display: flex;
}
.our .views .view {
  padding: 30px 0 !important;
}
.our .views .view .phone {
  position: relative;
  display: inline-block;
}
.our .views .view .phone img {
  max-width: 100%;
  height: auto;
}
.our .views .view .phone .item_view {
  top: 75px;
  left: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
}
.our .views .view .phone .item_view img {
  max-width: 100%;
  height: auto;
}
.our .text {
  text-align: left;
  margin-top: 55px;
  padding: 30px 0;
}
.our .text h3 {
  margin-bottom: 0;
  font-weight: 400;
  padding: 30px 0;
  text-transform: capitalize;
}
.our .text p {
  color: #555555;
  margin-bottom: 0;
  padding: 30px 0;
  padding-right: 165px;
}

.w-saying {
  padding: 100px 0;
  background: url("../../../dist/image/background_2.png");
  background-size: cover;
}
.w-saying h1 {
  padding: 30px 0;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}
.w-saying .box_say {
  position: relative;
  text-align: center;
  background-color: #fff;
  padding: 75px 50px 15px 50px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.w-saying .box_say img {
  left: 50%;
  top: -50px;
  width: 100px;
  height: 100px;
  position: absolute;
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.w-saying .box_say a {
  padding: 0 15px;
  display: inline-block;
  text-decoration: none;
}
.w-saying .box_say p {
  color: #555555;
}
.w-saying .box_say span {
  margin: 30px 0;
  display: inline-block;
  color: gold;
}
.w-saying .box_say span i {
  margin: 0 10px;
}

.our-work {
  padding: 100px 0;
  background: url("../../../dist/image/background_3.jpg");
  background-size: cover;
}
.our-work h1 {
  padding: 30px 0;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}
.our-work .box_list {
  position: relative;
}
.our-work .box_list ul {
  width: 55%;
  height: 600px;
  display: inline-block;
  padding: 110px !important;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-image: -webkit-linear-gradient(top, #54e5d0 0%, #46c5df 100%);
}
.our-work .box_list ul li {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin: 0 0 15px 0;
}
.our-work .box_list ul li.active span {
  font-size: 27px;
}
.our-work .box_list ul li span {
  transition: all .3s linear;
  vertical-align: middle;
}
.our-work .box_list .view_2 {
  top: 30px;
  right: 0;
  width: 75%;
  padding: 25px;
  display: none;
  position: absolute;
  background-color: #fff;
  -o-box-shadow: 0px 0px 11px 4px #85858569;
  -ms-box-shadow: 0px 0px 11px 4px #85858569;
  -moz-box-shadow: 0px 0px 11px 4px #85858569;
  -webkit-box-shadow: 0px 0px 11px 4px #85858569;
  box-shadow: 0px 0px 11px 4px #85858569;
}
.our-work .box_list .view_2.active {
  display: block;
}
.our-work .box_list .view_2 .box-img img {
  height: auto;
  max-width: 100%;
}
.our-work .box_list .view_2 .text {
  top: 0;
  right: 0;
  height: 100%;
  position: absolute;
  padding: 25px 25px 25px 500px;
}
.our-work .box_list .view_2 .text p {
  color: #555555;
}
.our-work .box_list .view_2 .text span {
  right: 25px;
  bottom: 25px;
  font-weight: 500;
  position: absolute;
}

.team {
  padding: 100px 0;
  background-color: #eff4f8;
}
.team h1 {
  padding: 30px 0;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}
.team .career h2 {
  font-size: 60px;
  font-weight: 900;
  position: relative;
  color: rgba(203, 234, 242, 0.69);
}
.team .career h2 span {
  top: 24px;
  left: 44px;
  font-weight: 400;
  position: absolute;
  font-size: x-large;
  padding-bottom: 8px;
  border-bottom: 1px solid;
  color: #00527f;
}
.team .box_team {
  cursor: pointer;
  position: relative;
  text-align: center;
}
.team .box_team:hover .box_text h6, .team .box_team:hover .box_text span {
  display: none;
}
.team .box_team:hover .box_text p {
  display: block;
}
.team .box_team:hover .box_img {
  width: 100px;
  height: 100px;
}
.team .box_team .box_img {
  width: 175px;
  height: 175px;
  overflow: hidden;
  margin: 0 auto 15px auto;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.team .box_team .box_img img {
  max-width: 100%;
  height: auto;
}
.team .box_team .box_text h6 {
  font-weight: 600;
  font-size: larger;
}
.team .box_team .box_text span {
  width: 195px;
  font-size: 14px;
  font-weight: 100;
  padding: 5px 20px;
  display: inline-block;
  color: #00527f;
}
.team .box_team .box_text p {
  display: none;
  color: #555555;
  padding: 5px 15px;
}
.team .tc, .team .p {
  position: relative;
}
.team .tc h6, .team .p h6 {
  top: 36px;
  left: 87px;
  font-weight: 400;
  color: #00527f;
  font-size: 1.5rem;
  position: absolute;
}
.team .tc span, .team .p span {
  width: 100px;
  height: 100px;
  display: block;
}
.team .tc span img, .team .p span img {
  width: 100%;
  height: 100%;
}

.type_project {
  padding: 100px 0;
  background: url("../../../dist/image/background_4.jpg");
  background-size: cover;
}
.type_project h1 {
  padding: 30px 0;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}
.type_project .box_project, .type_project .box_express {
  margin: 0 50px;
  cursor: pointer;
  text-align: center;
  padding: 30px 40px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid rgba(61, 127, 156, 0.19);
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.type_project .box_project .box_list_1 button::after, .type_project .box_express .box_list_1 button::after {
  content: 'choose me';
}
.type_project .box_project.active, .type_project .box_express.active {
  border: none;
  background: #fff;
  -o-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  -ms-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.type_project .box_project.active .box_list_1, .type_project .box_express.active .box_list_1 {
  display: none;
}
.type_project .box_project.active .box_list_2, .type_project .box_express.active .box_list_2 {
  display: block;
}
.type_project .box_project.active .box_list_2 button::after, .type_project .box_express.active .box_list_2 button::after {
  content: 'get started';
}
.type_project .box_project a, .type_project .box_express a {
  display: block;
  padding: 0 20px;
  font-weight: 500;
  text-decoration: none;
  color: #00527f;
  text-transform: capitalize;
}
.type_project .box_project ul, .type_project .box_express ul {
  text-align: left;
  display: inline-block;
  text-transform: capitalize;
}
.type_project .box_project button, .type_project .box_express button {
  border: 0;
  color: #fff;
  display: block;
  font-weight: 500;
  padding: 13px 40px;
  margin: 30px auto 0 auto;
  text-transform: uppercase;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.type_project .box_express a {
  color: #fd6cae;
}
.type_project .box_express span {
  font-weight: 900;
  font-size: xx-large;
  color: rgba(251, 140, 110, 0.35);
}
.type_project .box_express .box_list_1 button {
  background-image: -webkit-linear-gradient(left, #fd6cae 0%, #fb8c6e 100%);
}
.type_project .box_express .box_list_2 {
  display: none;
}
.type_project .box_express .box_list_2 button {
  background-image: -webkit-linear-gradient(left, #fd6cae 0%, #fb8c6e 100%);
}
.type_project .contact {
  top: 50%;
  left: 50%;
  width: 100%;
  display: none;
  z-index: 11000;
  position: absolute;
  background: #fff;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.type_project .contact .box_contact {
  padding: 45px 10px;
}
.type_project .contact .box_contact h4 {
  text-align: center;
}
.type_project .contact .box_contact .box_plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.type_project .contact .box_contact .box_plan .m_box_project, .type_project .contact .box_contact .box_plan .m_box_express {
  padding: 15px 0;
  margin: 15px 20px;
  border: 1px solid rgba(61, 127, 156, 0.19);
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.type_project .contact .box_contact .box_plan .m_box_project.active, .type_project .contact .box_contact .box_plan .m_box_express.active {
  background-color: rgba(203, 234, 242, 0.3);
}
.type_project .contact .box_contact .box_plan .m_box_project.active h6 i, .type_project .contact .box_contact .box_plan .m_box_express.active h6 i {
  color: #fd6cae;
}
.type_project .contact .box_contact .box_plan .m_box_project h6, .type_project .contact .box_contact .box_plan .m_box_express h6 {
  font-weight: 700;
  text-align: center;
}
.type_project .contact .box_contact .box_plan .m_box_project h6 i, .type_project .contact .box_contact .box_plan .m_box_express h6 i {
  margin: 0 5px;
  font-size: larger;
}
.type_project .contact .box_contact .box_plan .m_box_project span, .type_project .contact .box_contact .box_plan .m_box_express span {
  display: block;
  padding: 10px 30px;
  text-align: center;
}
.type_project .contact .box_contact .box_plan .m_box_project span a, .type_project .contact .box_contact .box_plan .m_box_express span a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
.type_project .contact .box_contact form .form-group input {
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.type_project .contact .box_contact form .form-group textarea {
  resize: none;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.nav-contact {
  font-family: "Open Sans";
  font-size: 16px;
  color: #00527f !important;
  text-align: center;
  line-height: 1;
  padding-top: 10px;
  border-radius: 0px;
  font-weight: 400;
}
.contact-main {
  background-image: url('../images/cover.jpg');
  background-size: cover;
  width: 100%;
  height: 700px;
}
.Contact {
  margin-top: 19rem;
}
.contact-content__title {
  overflow: visible;
  padding-bottom: 0px;
  font-family: "Open Sans";
  font-size: 34px;
  font-weight: 700;
  color: #000;
  text-align: center;
  line-height: 1.4;
  border-radius: 0px;
}
.location-content {
  overflow: visible;
  padding-bottom: 0px;
  font-family: "Open Sans";
  font-size: 19px;
  font-weight: 300;
  text-decoration: none;
  color: #000;
  line-height: 1.7;
  border-radius: 0px;
  cursor: pointer;
  word-break: break-word;
  font-style: normal;
}
.globe-icon {
  padding: 0px;
  text-align: center;
  cursor: inherit;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  border-radius: 4px;
}
.contact-operations {
  margin-top: 2rem;
}
.contact-img {
  padding-top: 10rem;
}
.contact-input {
  width: 400px;
  height: 48px !important;
  background-color: #fff;
  border-radius: 40px;
  font-family: "Open Sans";
  font-size: 16px !important;
  color: #000;
  padding: 0px 20px;
  transition: border-color 200ms ease 0s, box-shadow 200ms ease 0s;
}
.textarea-contact {
  height: 100px;
  width: 400px;
  border: 1px solid #e3e3e3;
  background-color: #fff;
  border-radius: 16px;
  font-family: "Open Sans";
  font-size: 16px;
  color: #000;
  line-height: 1;
  padding: 12px 20px;
  transition: border-color 200ms ease 0s, box-shadow 200ms ease 0s;
}
.submit-contact-btn {
  height: 56px !important;
  width: 400px;
  left: 0px;
  top: 0px;
  padding: 0px;
  cursor: pointer !important;
  background: -webkit-linear-gradient(left, #9473dd 0%, #1ac9e4 100%);
  border: none;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px !important;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  border-radius: 30px;
  transition: background 200ms ease 0s;
  margin-top: 2rem;
}
.best-project {
  margin-top: 10rem;
}
.best-project__content {
  margin-top: 7rem;
}
.box-con {
  padding: 7rem;
  width: 488px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  transition: background 200ms ease-in 0s, box-shadow 200ms ease-in 0s;
}
.box-con--content {
  width: 280px;
  overflow: visible;
  padding-bottom: 0px;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-align: center;
  line-height: 1;
  padding-top: 6px;
  border-radius: 0px;
  transition: color 200ms ease-in 0s;
  text-transform: uppercase;
}
.box-con--content-second {
  width: 300px;
  overflow: visible;
  padding-bottom: 0px;
  font-family: "Open Sans";
  font-size: 18px;
  color: #00527f;
  text-align: center;
  line-height: 1.33;
  border-radius: 0px;
  transition: color 200ms ease-in 0s;
  margin-top: 1rem;
}
.box-con .color-2 {
  color: #fd6cae !important;
}
.box-con .price-sub {
  width: 158px;
  overflow: visible;
  padding-bottom: 0px;
  font-family: "Open Sans";
  font-size: 41px;
  font-weight: 800;
  color: rgba(251, 140, 110, 0.35);
  text-align: center;
  line-height: 1.33;
  border-radius: 4px;
  transition: color 200ms ease-in 0s, background 200ms ease-in 0s;
  text-decoration: none;
  font-style: normal;
}
.box-con .list-box {
  overflow: visible;
  padding-bottom: 0px;
  font-family: "Open Sans";
  font-size: 16px;
  color: #000;
  line-height: 1.8;
  border-radius: 0px;
  transition: color 200ms ease-in 0s;
  padding: 3rem;
}
.box-con .btn-box-choose .btn-choose {
  height: 50px;
  width: 175px;
  padding: 0px;
  cursor: pointer;
  background: -webkit-linear-gradient(left, #9473dd 0%, #1ac9e4 100%);
  border: none;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  border-radius: 30px;
  transition: color 200ms ease-in 0s, background 200ms ease-in 0s;
  box-shadow: none;
}
.box-con .btn-box-choose .color-sub {
  background: -webkit-linear-gradient(left, #fd6cae 0%, #fb8c6e 100%) !important;
}
.btn-choose {
  height: 50px;
  width: 175px;
  padding: 0px;
  cursor: pointer;
  background: -webkit-linear-gradient(left, #9473dd 0%, #1ac9e4 100%);
  border: none;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  border-radius: 30px;
  transition: color 200ms ease-in 0s, background 200ms ease-in 0s;
  box-shadow: none;
}
.color-shadow {
  background-color: #fff;
  box-shadow: rgba(84, 89, 94, 0.4) 0px 24px 34px 0px;
  z-index: 9;
}
.border-main {
  border: 1px solid rgba(0, 80, 130, 0.15);
}
.sub:hover {
  background: linear-gradient(120deg, rgba(247, 183, 51, 0.1) 0%, rgba(252, 74, 26, 0.1) 100%) !important;
}
.sub2:hover {
  background: linear-gradient(120deg, rgba(0, 195, 220, 0.1) 0%, rgba(0, 82, 127, 0.1) 100%) !important;
}
.sub:hover .price-sub {
  color: #fa8b6c;
}

/*** Modal ****/
.modal-title {
  overflow: visible;
  padding-bottom: 0px;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: bold;
  color: #000;
  text-align: center;
  line-height: 1.4;
  border-radius: 0px;
}
.card-modal {
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 16px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding: 1rem;
}
.card-color-active {
  background-color: rgba(203, 234, 242, 0.3);
}
.card-color-not-active {
  background: none #fff;
  border-radius: 16px;
  border: 1px solid rgba(61, 127, 156, 0.16);
}
.card-modal-title {
  overflow: visible;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  color: #000;
  line-height: 1.4;
  border-radius: 0px;
}
.card-modal-sub {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  color: #000;
  text-align: center;
  line-height: 1.4;
  border-radius: 0px;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.active-mark {
  color: #fd6cae;
}
.modal-input {
  border: 1px solid #e3e3e3;
  background-color: #fff;
  box-sizing: border-box;
  height: 40px;
  border-radius: 40px;
  font-family: "Open Sans";
  font-size: 14px;
  color: #000;
  padding: 0px 10px;
  transition: border-color 200ms ease 0s, box-shadow 200ms ease 0s;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  text-align: left;
  margin-top: 2rem;
}
.textarea-modal {
  border: 1px solid #e3e3e3;
  background-color: #fff;
  box-sizing: border-box;
  height: 151px !important;
  width: 400px;
  border-radius: 16px;
  font-family: "Open Sans";
  font-size: 14px;
  color: #000;
  line-height: 1.4;
  padding: 10px;
  transition: border-color 200ms ease 0s, box-shadow 200ms ease 0s;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  margin-top: 2rem;
}
.btn-up-modal {
  height: 46px;
  width: 400px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 78, 130, 0.21);
  border-radius: 16px;
  transition: border-color 200ms ease 0s, box-shadow 200ms ease 0s;
  box-shadow: none;
  font-family: 'Lato';
  font-size: 14px;
  color: #005082;
  text-align: center;
  line-height: 1;
  padding-top: 4px;
}
/*** Footer ***/
/************ Contact Page *************/
.contact-footer {
  width: 100%;
  background-image: url('../images/footer.jpg');
  background-size: cover;
  text-align: center;
  padding-top: 18rem;
  padding-bottom: 10rem;
}
.contact-footer__main {
  overflow: visible;
  padding-bottom: 0px;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  border-radius: 0px;
}
.contact-footer__sub {
  overflow: visible;
  padding-bottom: 0px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  border-radius: 0px;
}
.contact-footer__input {
  height: 44px !important;
  width: 381px !important;
  border: 1px solid #a1f5e6 !important;
  background: none transparent;
  border-radius: 40px;
  font-family: "Open Sans";
  font-size: 16px;
  color: #fff !important;
  padding: 0px 15px;
  transition: border-color 200ms ease 0s, box-shadow 200ms ease 0s;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  text-align: left;
  box-shadow: none;
}
.contact-footer__button {
  height: 44px;
  width: 150px;
  padding: 0px;
  cursor: pointer;
  background: none rgba(227, 255, 250, 0.8);
  border: none;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  color: #000;
  line-height: 1;
  border-radius: 30px;
  transition: background 200ms ease 0s;
}
.contact-footer ::placeholder {
  color: #fff;
}



@media (min-width: 992px) and (max-width: 1199px) {
  .our-work .box_list ul {
    width: 60%;
    height: 535px;
  }
  .our-work .box_list ul li {
    margin: 0 0 15px 0px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .our-work .box_list ul {
    width: 100%;
    height: 640px;
  }

  .our-work .box_list .view_2 {
    top: 65%;
    width: 100%;
  }

  .team {
    padding: 270px 0 100px 0;
  }
}
@media (max-width: 991px) {
  .team {
    padding: 270px 0 100px 0;
  }
  .team .tc h6, .team .p h6 {
    position: static;
  }

  .type_project .box_project, .type_project .box_express {
    margin: 0 10px;
    padding: 30px 10px;
  }
}
@media (max-width: 768px) {
  .our-work .box_list ul {
    width: 100%;
    padding: 80px !important;
    height: auto;
    border-radius: 20%;
  }

  .our-work .box_list .view_2 {
    top: 80%;
    width: 100%;
  }

  .our-work .box_list .view_2 .text {
    position: static;
    padding: 0;
    margin-top: 15px;
    text-align: right;
  }
  .our-work .box_list .view_2 .text p {
    text-align: left;
  }
  .our-work .box_list .view_2 .text span {
    position: static;
  }

  .team {
    padding: 530px 0 100px 0;
  }
  .team .career h2 {
    text-align: center;
  }
  .team .career h2 span {
    position: static;
    font-size: large;
    padding-bottom: 0px;
  }

  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
@media (max-width: 480px) {
  .type_project .contact .box_contact .box_plan {
    display: block;
  }
}



/*** Responsive ***/

@media (max-width: 768px) {
  .left {
    width: 14% !important;
 }
  .right {
    width: 70% !important;
 }
  .card {
    margin-top: 2rem;
 }
  .dropdown2 {
    display: none;
 }
  .our-nav {
    justify-content: center !important;
 }
  .chat {
    width: 67% !important;
 }
  h2 {
    font-size: 16px;
    text-align: center;
 }
  h3 {
    font-size: 14px;
    text-align: center;
 }
  h4 {
    font-size: 12px;
    text-align: center;
 }
  .slider {
    margin-top: 5px !important;
 }
  .slid-btn {
    text-align: center;
    margin-bottom: 6rem;
 }
  .h1-con {
    font-size: 25px !important;
    margin-top: 20rem !important;
    margin-bottom: 10rem;
    height: 0px !important;
 }
  .def-con {
    font-size: 18px !important;
    margin-top: 12rem !important;
 }
  .main-card {
    margin-right: 0px !important;
 }
  .contact-content__title, .contact-footer__main {
    font-size: 20px !important;
 }
  .readmore-card {
    height: auto !important;
 }
  .padding-title-responsive {
    padding-top: 1rem !important;
 }
}
@media (max-width: 992px) {
  .left {
    width: 30% !important;
 }
  .right {
    width: 70% !important;
 }
  .right-chat {
    display: none;
 }
  .left-chat {
    width: 100% !important;
 }
  #back-btn {
    display: block;
 }
  .form-card {
    width: 100% !important;
 }
  .chat {
    width: 67% !important;
 }
  .click-play {
    position: absolute;
    right: 246px !important;
    bottom: 14rem !important;
 }
  .slider__content-con {
    text-align: center;
 }
  .padding-title-responsive {
    text-align: center;
 }
  .h1-con {
    font-size: 25px !important;
    margin-top: 14rem !important;
    margin-bottom: 10rem;
    height: 0px !important;
 }
  .def-con {
    font-size: 18px !important;
    margin-top: 7rem !important;
 }
  .best-project {
    margin-top: 50rem !important;
 }
  .main-slider__social {
    display: none;
 }
}
@media (max-width: 576px) {
  .left {
    width: 40% !important;
    display: none;
 }
  .right {
    width: 100% !important;
 }
  .slide-in {
    display: none;
 }
  .slide-out {
    display: block;
 }
  .chat {
    margin-top: 8rem !important;
    width: 96% !important;
 }
  .chat-card {
    margin-top: -38px;
 }
  h1 {
    font-size: 19px !important;
    text-align: center !important;
 }
  h2 {
    font-size: 14px !important;
    text-align: center !important;
 }
  h3 {
    font-size: 12px !important;
    text-align: center !important;
 }
  h4 {
    font-size: 10px !important;
    text-align: center !important;
 }
  .slider__content-con {
    padding-top: 10rem !important;
 }
  .click-play {
    position: absolute;
    bottom: 78px !important;
    right: 162px !important;
 }
  .slid-btn {
    text-align: center;
 }
  .contact-input {
    width: 300px !important;
 }
  .textarea-contact, .submit-contact-btn {
    width: 300px !important;
 }
  .x-600 {
    height: 600px !important;
 }
}

