.vedio-title {
    overflow: visible;
    padding-bottom: 0px;
    font-family: 'Roboto';
    font-size: 42px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    line-height: 1.3;
    border-radius: 0px;
}
.vedio-sub {
    overflow: visible;
    padding-bottom: 0px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.6;
    border-radius: 0px;
}