.progressBar {
    counter-reset: step;
}
.progressBar li {
    list-style: none;
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
}
.active {
    color: $nav-icon-color;
}
.progressBar li.active:before {
    background-color: $nav-icon-color;
    color: #FFF;
}
.progressBar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    border-color: $nav-icon-color;
    background-color: #FFF;
    position: relative;
    z-index: 2;
}


.progressBar li:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: 1;
}
.progressBar li.active + li:after {
    background-color: $nav-icon-color;
}
.progressBar .active:after {
    display: none;
}