.image-width {
    width: 8.5rem;
    height: 2.5rem;
}
section {
    margin-top: 10rem;
}
.icon-size {
    font-size: 32px;
}
.img-icon-size {
    width: 8rem;
}
.pointer {
    cursor: pointer;
}
.margin-top-6 {
    margin-top: 6rem;
}
.margin-bottom-6 {
    margin-bottom: 6rem;
}