.bg-purple {
   background-color: #007bff !important
}
.nav-icon-color {
   color: $nav-icon-color;
}
.nav-icon-bg-color {
   background-color: $nav-icon-color;
}
.grey-bg-color {
   background: #B0B2BF;
}